table {
	
	border-collapse: collapse;
	
}

.tableHover:hover {
	
	background-color: lightgray;
	cursor: pointer;
}

.tableHoverHomeGrid:hover {
	
	background-color: lightgray;
	cursor: default;
}

td {
	
	border: 1px solid black;
	
}

.rowClickCursor {
	
	cursor: pointer;
	
}

tr.autocomplete:hover {
	
	background-color: lightgray;
	
}

.heightRow {

	height: 25px;

}

.highlightRow {

	background-color: lightgray;
	cursor: pointer;
}

.highlightRowHomeGrid {

	background-color: lightgray;
	cursor: default;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
  }
	/* background-color: rgb(0,0,0); */ /* Fallback color */
	/* background-color: rgba(0,0,0,0.4); */ /* Black w/ opacity */
  
  /* Modal Content */
  .modal-content {
	border-radius: 25px;
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }


td.tabOptions {
	
	text-align: center;
	padding: 25px;
		
}
	
td.tabOptions:hover {
	
	background-color: lightgray;
	cursor: default;
	user-select: none;

}

td.tabOptionsSelect {
	
	text-align: center;
	padding: 25px;	
	background-color: lightgray;
	
}

/*
div.pageContentsForm {

	top: 140px;
	border: 1px solid black;
	border-left: none;
	width: 100%;
	height: 100%;
		
}
*/

div.buttonCenter {

	text-align: center;
		
}

.underline {
	padding-left: 10px;
    text-decoration: underline;
   	cursor: default;
	user-select: none;
	text-align: left;
}

/*
.underlineSave {
    text-decoration: underline;
   	cursor: default;
	user-select: none;
	text-align: left;	
}
*/

.underlineNo {
	padding-left: 10px;
   	cursor: default;
	user-select: none;
	text-align: left;
}

a, span, button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*
.underlineNo:hover {
	padding-left: 10px;
	text-decoration: underline;
   	cursor: default;
	user-select: none;
	text-align: left;
}
*/

table.homeGrid_safari {
  table-layout: fixed;
  width: 90%;
}

table.homeGrid_chrome {
	table-layout: fixed;
	width: 95%;
  }

table.homeGridIOS_safari {
  table-layout: fixed;
  width: 90%;
}

table.homeGridIOS {
  table-layout: fixed;
  width: 90%;
}

table.homeGridMobile {
  table-layout: fixed;
  width: 95%;
}

table.tenantGrid {
  table-layout: fixed;
  width: 73%;
}

table.tenantGridIOS_safari {
  table-layout: fixed;
  width: 70%;
}

table.tenantGridIOS {
  table-layout: fixed;
  width: 90%;
}

table.tenantGridMobile {
  table-layout: fixed;
  width: 90%;
}

table.suiteGrid {
  table-layout: fixed;
  width: 52%;
}

table.suiteGridIOS_safari {
  table-layout: fixed;
  width: 57%;
}

table.suiteGridIOS {
  table-layout: fixed;
  width: 70%;
}

table.suiteGridMobile {
  table-layout: fixed;
  width: 70%;
}


table.autocomplete {
  table-layout: fixed;
  width: 200px;
}

table.formGrid {
  table-layout: fixed;
  width: 40%;
}

td.grid {
	max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 10px;
}

td.gridBorderThick {

	border: 1px solid black;

}

td.gridBorderThin {

	border: 0.4px solid black;

}

.bodyDesktop {

	min-width: 1280px;

}

.bodyIOS {

	min-width: 1024px;

}

/*

.description, .text, and .icon

sorting header icon ellipsis

*/

/*
.description {
	display: flex;
  	align-items: center;
  	white-space: nowrap;
  	overflow: hidden;
}

.text {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  padding: 2px;
}
*/


.table-wrapper
{
	/* height: 40%; */
    overflow: auto;
}

th
{
	position: sticky; 
	top: 0;
	background: lightgray;
	/* border-right: solid 1px black; */
	padding-top: 10px; 
	box-shadow: inset 1px 1px #000, 0 1px #000;
}

.button
{
	outline: none;
	border: 1px solid black;
	border-radius: 4px;
}

.button:hover
{
	background-color: rgb(220,220,220)
}


.pagingElements
{
	padding: 10px;
}