table {
	
	border-collapse: collapse;
	
}

.tableHover:hover {
	
	background-color: lightgray;
	cursor: pointer;
}

td {
	
	border: 1px solid black;
	
}

.rowClickCursor {
	
	cursor: pointer;
	
}

tr.autocomplete:hover {
	
	background-color: lightgray;
	
}

.heightCell {

	height: 25px;

}

.highlightRow {

	background-color: lightgray;
	cursor: pointer;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
  }
	/* background-color: rgb(0,0,0); */ /* Fallback color */
	/* background-color: rgba(0,0,0,0.4); */ /* Black w/ opacity */
  
  /* Modal Content */
  .modal-content {
	border-radius: 25px;
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }


  div.tabOptions {
	
	text-align: center;
	padding: 25px;
		
}
	
div.tabOptions:hover {
	
	background-color: lightgray;
	cursor: default;
	user-select: none;

}

div.tabOptionsSelect {
	
	text-align: center;
	padding: 25px;	
	background-color: lightgray;
		
}

div.pageContentsForm {

	top: 140px;
	border: 1px solid black;
	border-left: none;
	width: 100%;
	height: 100%;
		
}

.underline {
	padding-left: 10px;
    text-decoration: underline;
   	cursor: default;
	user-select: none;
	text-align: left;
}

table.homeGrid {
  table-layout: fixed;
  width: 70%;
}

table.homeGridIOS_safari {
  table-layout: fixed;
  width: 90%;
}

table.homeGridIOS {
  table-layout: fixed;
  width: 95%;
}

table.homeGridMobile {
  table-layout: fixed;
  width: 95%;
}

table.tenantGrid {
  table-layout: fixed;
  width: 57%;
}

table.tenantGridIOS_safari {
  table-layout: fixed;
  width: 70%;
}

table.tenantGridIOS {
  table-layout: fixed;
  width: 70%;
}

table.tenantGridMobile {
  table-layout: fixed;
  width: 70%;
}

table.suiteGrid {
  table-layout: fixed;
  width: 45%;
}

table.suiteGridIOS_safari {
  table-layout: fixed;
  width: 57%;
}

table.suiteGridIOS {
  table-layout: fixed;
  width: 57%;
}

table.suiteGridMobile {
  table-layout: fixed;
  width: 57%;
}


table.autocomplete {
  table-layout: fixed;
  width: 140px;
}

table.formGrid {
  table-layout: fixed;
  width: 40%;
}

td.grid {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
}

/*

.description, .text, and .icon

sorting header icon ellipsis

*/

.description {
	display: flex;
  	align-items: center;
  	white-space: nowrap;
  	overflow: hidden;
}

.text {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  padding: 2px;
}


.table-wrapper
{
	height: 40%;
    overflow: auto;
}


.button
{
	outline: none;
	border: 1px solid black;
	border-radius: 4px;
}

.button:hover
{
	background-color: rgb(220,220,220)
}


.pagingElements
{
	padding: 10px;
}